.forum {
  padding: 30px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.table {
  width: 70%;
  border-spacing: 20px;
  color: var(--color-normal);
  background: var(--color-normal);
  box-shadow: 2px 2px 2px var(--color-normal), 0px 0px 40px var(--color-normal);
  border-radius: 30px;
}

.table__th {
  color: var(--color-light);
  text-shadow: var(--textShadow);
}

@media only screen and (max-width: 1024px) {
  .table {
    width: 90%;
  }
}

@media only screen and (max-width: 640px) {
  .table__th:not(:first-child) {
    display: none;
  }
}
