.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  padding: 30px;
  margin: 25px auto;
  background: var(--color-normal);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.22),
    0px 0px 40px rgba(255, 255, 237, 0.1);
  border-radius: 30px;
  flex-basis: 50%;
  height: 100%;
  width: 900px;

  &__avatar {
    width: 15rem;
    height: 15rem;
  }

  &__nickname {
    font-size: 3rem;
    max-width: 300px;
    margin: 25px 0;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
