.canvas {
  display: block;
  width: 100%;
  height: 100vh;
  image-rendering: pixelated;
  image-rendering: -o-crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
}

.canvas__menu-button {
  position: absolute;
  top: 10px;
  right: 10px;
}
