.errorBoundary {
  height: 100vh;
  background-image: url('../../assets/imgs/errorApp.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--mainColor);
  font-size: 1.4rem;

  &__content {
    background-color: var(--translucentColor);
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  &__message {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: solid;
    font-style: italic;
    font-size: 0.9rem;

    &_button {
      max-width: 250px;
      margin: 15px auto;
    }
  }
}
