.loader {
  width: 100vw;
  height: 100vh;
  background: var(--color-bg);
  color: var(--color-light);
  font-size: 52px;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: var(--textShadow);
}
