.form {
  flex-direction: column;
  display: flex;
  align-items: center;
  gap: 20px;
}

.form__button {
  width: 230px;
  height: 35px;
  font-size: 20px;
}

.form__input {
  width: 320px;
  height: 30px;
}

.form__textarea {
  min-height: 100px;
}

@media only screen and (max-width: 600px) {
  .form__button {
    width: 170px;
    height: 30px;
    font-size: 18px;
  }
}
