.input {
    width: 200px;
    height: 30px;
    background: var(--color-light);
    box-shadow: inset 0px 4px 4px rgba(37, 27, 55, 0.57);
    border-radius: 30px;
    font-family: 'Audiowide';
    font-style: normal;
    font-weight: 400;
    color: var(--color-normal);
    border: 0;
    padding-left: 20px;
}

.input::placeholder {
    color: var(--color-grey);
    opacity: 1;
    font-family: 'Audiowide';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    transition: 0.2s opacity;
}

.input:focus::placeholder {
    opacity: 0;
}

.input:focus {
    outline: 2px solid rgba(255, 255, 237, 0.8);
}
