.input,
.textarea {
  background: var(--color-light);
  box-shadow: inset 0px 4px 4px rgba(37, 27, 55, 0.57);
  color: var(--color-normal);
  line-height: 1rem;
  border: none;
  padding: 5px 20px;

  &::placeholder {
    color: var(--color-grey);
    opacity: 1;
    transition: 0.2s opacity;
  }

  &:focus::placeholder {
    opacity: 0;
  }

  &:focus {
    outline: 2px solid rgba(255, 255, 237, 0.8);
  }
}

.input {
  border-radius: 30px;
}

.textarea {
  border-radius: 20px;
}
