.button {
  border: 0;
  cursor: pointer;
  background: var(--color-light);
  box-shadow: 0px 0px 7px rgba(255, 255, 202, 0.8);
  border-radius: 30px;
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: var(--color-normal);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}
