@import '../../../node_modules/modern-normalize/modern-normalize.css';
@import './constants/_vars.css';

a {
  text-decoration: none;
  color: var(--secondaryColor);
}

*::-webkit-scrollbar {
  width: 3px;
}

*::-webkit-scrollbar-track {
  background: var(--neutralColor);
}

*::-webkit-scrollbar-thumb {
  border: 3px solid var(--mainColor);
}

input {
  outline: none;
}
