:root {
  --fontSize: 1rem;
}

:root {
  --lightColor: #ffffff;
  --darkColor: #000000;
  --spaceColor: #10021e;
  --mainColor: #251b37;
  --bgColor: #372948;
  --secondaryColor: #ffffca;
  --neutralColor: #626262;
  --selectColor: rgb(216, 201, 235, 0.2);
}

:root {
  --backgroundMain: radial-gradient(
    ellipse at center,
    var(--mainColor),
    var(--spaceColor)
  );
  --inputShadow: 0px 0px 7px rgba(255, 255, 202, 0.8);
}

:root {
  --flex: {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
