.star {
  position: absolute;
  fill: var(--color-light);
  height: 73px;
  width: 55px;
  filter: drop-shadow(0px 0px 8px rgba(255, 255, 237, 0.8));
}

.star_size_big {
  height: 101px;
  width: 76px;
}

.star_size_small {
  height: 41px;
  width: 31px;
}

.star_position_relative {
  position: relative;
}
