.login {
    background: var(--color-bg);
    height: 100vh;
    width: 100vw;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.login__title {
    font-family: 'Audiowide';
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-light);
    text-shadow: 0px 0px 7px rgba(255, 255, 237, 0.8), 2px 2px 2px rgba(0, 0, 0, 0.91);
    margin: 0;
}

.login__signin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background: var(--color-normal);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.22), 0px 0px 40px rgba(255, 255, 237, 0.1);
    border-radius: 30px;
}

.login__signup { 
    display: flex;
    align-items: center;
    gap: 10px;
}

.login__input {
    width: 320px;
    height: 30px;
}

.login__button__signin {
    width: 230px;
    height: 35px;
    font-size: 20px;
}

.login__button__signup {
    width: 140px;
    height: 21px;
    font-size: 13px;
}

@media only screen and (max-width: 600px) {
    .login__title {
        font-size: 40px;
    }
    .login__input {
        width: 260px;
    }    
    .login__button__signin {
        width: 170px;
        height: 30px;
        font-size: 18px;
    }
    .login__button__signup {
        width: 120px;
    }
}
