.login {
  gap: 20px;

  &__signup {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.button.login__signup-button {
  width: 140px;
  font-size: 13px;
}

@media only screen and (max-width: 600px) {
  .button.login__signup-button {
    width: 120px;
  }
}
