.authform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background: var(--color-normal);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.22),
    0px 0px 40px rgba(255, 255, 237, 0.1);
  border-radius: 30px;
}

.input.authform__input {
  width: 320px;
  height: 30px;
}

.button.authform__submit-button {
  width: 230px;
  height: 35px;
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  .login__signin-button {
    width: 170px;
    height: 30px;
    font-size: 18px;
  }
  .login__signup-button {
    width: 120px;
  }
}
