.leaderBoard {
  height: calc(100vh - 80px);
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;

  &__topLeader {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: 50%;
    flex-grow: 1;
    min-width: 400px;
    background-image: url('src/assets/imgs/leaderFon.webp');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 0;
  }
}

@media only screen and (max-width: 450px) {
  .leaderBoard {
    &__topLeader {
      background-repeat: repeat;
      background-size: contain;
    }
  }
}
