.leaderBoard {
  overflow-y: scroll;

  &__wrapper {
    height: calc(100vh - 80px);
    display: flex;
    flex-wrap: wrap;

    &_topLeader {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      flex-basis: 50%;
      flex-grow: 1;
      min-width: 400px;
      background-image: url(src/assets/imgs/leaderFon.webp);
      background-repeat: no-repeat;
      background-size: cover;
      padding: 20px 0;
    }
  }
}

@media only screen and (max-width: 1220px) {
  .leaderBoard {
    &__wrapper {
      height: calc(100vh - 95px);
    }
  }
}
@media only screen and (max-width: 600px) {
  .leaderBoard {
    &__wrapper {
      height: calc(100vh - 117px);
    }
  }
}
@media only screen and (max-width: 450px) {
  .leaderBoard {
    &__wrapper {
      &_topLeader {
        min-width: 100%;
        background-repeat: repeat;
        background-size: contain;
      }
    }
  }
}
