.profileFields {
  width: 100%;

  &__field {
    display: flex;
    width: 100%;
    flex: 10;
    color: var(--color-bg);
    text-align: center;
    gap: 25px;
    margin-bottom: 25px;

    &_bg {
      background: var(--color-light);
      box-shadow: var(--inputShadow);
      border-radius: 30px;
      padding: 10px 20px;
    }

    &_title {
      flex: 3;
    }

    &_value {
      flex: 7;
      border: none;
    }
  }
}
