.registration {
  gap: 10px;
}

.registration__signin {
  display: flex;
  align-items: center;
  gap: 10px;
}

.button.registration__signin-button {
  width: 140px;
  height: 21px;
  font-size: 13px;
}

@media only screen and (max-width: 600px) {
  .button.registration__signin-button {
    width: 120px;
  }
}
