.noAccess {
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.3;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.noAccess__img {
  width: 20%;
  height: 20%;
  max-width: 120px;
}

.noAccess__text {
  color: #fff;
  font-size: 1rem;
}
